Never fear, your new password is here!
===============================================

Your new password is <%= @new_password %>

When you log in with it, you'll be asked to
update your password to something prettier.

Thanks for using geoverse!
