@mixin linear-gradient($from-color, $to-color) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($from-color), to($to-color)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $from-color, $to-color); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $from-color, $to-color); /* FF3.6 */
  background-image: -ms-linear-gradient(top, $from-color, $to-color); /* IE10 */
  background-image: -o-linear-gradient(top, $from-color, $to-color); /* Opera 11.10+ */
  background-image: linear-gradient(top, $from-color, $to-color);
}

@mixin box-shadow($color) {
  -moz-box-shadow: 0px 0px 12px $color;
  -webkit-box-shadow: 0px 0px 12px $color;
  box-shadow: 0px 0px 12px $color;
}

