@import 'colors';

#view-on-map-page,
#view-on-map-page > .ui-content,
#dropped-verse-map {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#dropped-verse-map {
  color: $black;
  text-shadow: none;
  a { color: $geogreen-dark; }
  background: url(tile-loading.png);
}

