- content_for(:page_id) { 'login-page' }

%h1 Log In

= form_tag v1_session_url, :method => :post, 'data-ajax' => false, :id => 'login-form' do
  %div.errors

  %label{ :for => 'login-email' } email
  %input#login-email{ :type => 'email', :autocapitalize => 'off' }

  %label{ :for => 'login-password' } password
  %input#login-password{ :type => 'password' }

  %button{ :type => 'submit' } Let's go!
  %a#forgot-password{ href: 'forgot_password.html', 'data-role' => 'button' } Forgot Password
