- content_for(:page_id) { 'drop-a-verse-page' }
- content_for(:back_button) { 'true' }
- content_for(:cache_page) { 'true' }

%h1 Drop a Verse

= form_tag v1_dropped_verses_url, id: 'drop-a-verse-form', 'data-ajax' => false, 'data-url' => v1_bibles_url do
  %div#book-container
    %select#book-select

  %div#chapter-container
    %select#chapter-select

  %div#verse-container
    %select#verse-select

  %div.button-container
    %fieldset.ui-grid-a
      %div.ui-block-a
        %a#drop-button{ href: '#', 'data-role' => 'button', 'data-icon' => 'pin' } Drop
      %div.ui-block-b
        %a#preview-button{ href: '#', 'data-role' => 'button', 'data-icon' => 'check' } Preview

