- content_for(:page_id) { 'success-page' }

%h1 Success!
%p Your verse was successfully dropped at your location!

%a#success-home-button{ href: 'home.html',
  'data-role' => 'button', 'data-icon' => 'home' } Back to Home
