- content_for(:page_id) { 'forgot-password-page' }
- content_for(:back_button) { 'true' }

%h1 Forgot Password

= form_tag v1_password_url, id: 'forgot-password-form', 'data-ajax' => false do
  %p Please enter your email address and we'll send you a new password right away!

  %div.errors
  %label{ :for => 'forgot-password-email' } Your email please
  %input#forgot-password-email{ :type => 'email', :autocapitalize => 'off' }

  %button#send-password{ :type => 'submit' } Send me my password!
