- content_for(:page_id) { 'forgot-password-success-page' }

%h1 Hooray!
%p Your new password is about to be sent to you at light speed!

%a#go-to-login{ href: 'login_no_back.html', 'data-role' => 'button' } Go to Login

