- content_for(:page_id) { 'home-page' }
- content_for(:header) { link_to 'Log Out', '#', :id => 'log-out', :class => 'ui-btn-right' }

%h1 Home

%div{ 'data-role' => 'controlgroup' }
  %a{ 'data-role' => 'button', :href => 'drop_a_verse.html' }
    Drop a Verse
  %a{ 'data-role' => 'button', :href => 'my_verses.html' }
    My Verses
  %a{ 'data-role' => 'button', :href => 'nearby_verses.html' }
    Nearby Verses

