- content_for(:page_id) { 'index-page' }

%h1 Welcome

%div{ 'data-role' => 'controlgroup' }
  %a#log-in{ 'data-role' => 'button', :href => 'login.html' }
    Log In
  %a{ 'data-role' => 'button', :href => 'sign_up.html' }
    Sign Up
