- content_for(:page_id) { 'my-verses-page' }
- content_for(:back_button) { 'true' }
- content_for(:cache_page) { 'true' }
- content_for(:footer) do
  .view-verse-map{ 'data-role' => 'navbar' }
    %ul
      %li
        %a View verses on map

%h1 My Verses

%div.notice
%ul#dropped-verses-list{ 'data-role' => 'listview', 'data-inset' => 'true',
  'data-theme' => 'c', 'data-url' => v1_dropped_verses_url }
