- content_for(:page_id) { 'nearby-verses-page' }
- content_for(:back_button) { 'true' }
- content_for(:cache_page) { 'true' }
- content_for(:header) { link_to 'Refresh', '#', 'data-icon' => 'refresh', :class => 'ui-btn-right refresh' }

%h1 Nearby Verses

%div.notice
%ul#nearby-verses-list{ 'data-role' => 'listview', 'data-inset' => 'true',
  'data-theme' => 'c', 'data-url' => v1_nearby_verses_url }

