- content_for(:page_id) { 'preview-page' }
- content_for(:page_role) { 'dialog' }

%h1.title
%p.text

%a#preview-back-button{ href: 'drop_a_verse.html',
    'data-role' => 'button', 'data-rel' => 'back', 'data-icon' => 'arrow-l' } Go Back
