- content_for(:page_id) { 'sign-up-page' }
- content_for(:back_button) { 'true' }

%h1 Sign Up

= form_tag v1_registration_url, :method => :post, 'data-ajax' => false, :id => 'sign-up-form' do
  %div.errors

  %label{ :for => 'sign-up-email' } email
  %input#sign-up-email{ :type => 'email', :autocapitalize => 'off' }

  %label{ :for => 'sign-up-password' } password
  %input#sign-up-password{ :type => 'password' }

  %label{ :for => 'sign-up-password-confirmation' } password confirmation
  %input#sign-up-password-confirmation{ :type => 'password' }

  %button{ :type => 'submit' } Sign me up!

