- content_for(:page_id) { 'update-password-success-page' }

%h1 Super!
%p Your password has been updated and is now much more awesome!

%a#go-to-home{ href: 'home.html', 'data-role' => 'button', 'data-icon' => 'home' } Go to Home

