addPrompt = (element, type) -> element.empty().append $('<option/>').text "Choose a #{type}"

sendRequest = (options) ->
  $form = $('#drop-a-verse-form')

  geoverse.helpers.ajax
    url: if options.type == 'POST' then $form.attr('action') else $form.attr('data-url')
    data: { lookup: options.lookup, lat: options.lat, lon: options.lon }
    type: options.type
    success: (data) ->
      options.callback(data)
      $('#book-select, #chapter-select, #verse-select').selectmenu('refresh')

$(document).delegate '#drop-a-verse-page', 'pageinit', ->
  $bookSelect = $('#book-select')

  sendRequest
    lookup: '1', type: 'GET', callback: (data) ->
      addPrompt $bookSelect, 'Book'
      $.each data.books, (index, value) -> $bookSelect.append($('<option/>').attr('value', index+1).text(value))
      $('#book-container').show()

  $('#drop-a-verse-form').delegate '#preview-button', 'click', -> $.mobile.changePage 'preview.html'

  $('#book-container').delegate '#book-select', 'change', ->
    $this = $(this)
    $chapterSelect = $('#chapter-select')
    $('#chapter-container, #verse-container, #drop-a-verse-form .button-container').hide()

    unless $('option:selected', $this).index() == 0
      sendRequest
        lookup: "1:#{$this.val()}", type: 'GET', callback: (data) ->
          addPrompt $chapterSelect, 'Chapter'
          $chapterSelect.append($('<option/>').attr('value', chapter).text(chapter)) for chapter in [1..data.chapter_count]
          $('#chapter-container').show()

  $('#chapter-container').delegate '#chapter-select', 'change', ->
    $this = $(this)
    $verseSelect = $('#verse-select')
    $('#verse-container, #drop-a-verse-form .button-container').hide()

    unless $('option:selected', $this).index() == 0
      sendRequest
        lookup: "1:#{$('#book-select').val()}:#{$this.val()}", type: 'GET', callback: (data) ->
          addPrompt $verseSelect, 'Verse'
          $verseSelect.append($('<option/>').attr('value', verse).text(verse)) for verse in [1..data.verse_count]
          $('#verse-container').show()

  $('#verse-container').delegate '#verse-select', 'change', ->
    $this = $(this)
    $previewPage = $('#preview-page')
    $buttons = $('#drop-a-verse-form .button-container')
    $buttons.hide()

    unless $('option:selected', $this).index() == 0
      lookup = "1:#{$('#book-select').val()}:#{$('#chapter-select').val()}:#{$this.val()}"

      sendRequest
        lookup: lookup, type: 'GET', callback: (data) ->
          localStorage.verseTitle = data.title
          localStorage.verseText = data.text
          $buttons.show()

  $('#drop-a-verse-form').delegate '#drop-button', 'click', ->
    success = (position) ->
      lat = position.coords.latitude
      lon = position.coords.longitude
      lookup = "1:#{$('#book-select').val()}:#{$('#chapter-select').val()}:#{$('#verse-select').val()}"

      sendRequest
        lookup: lookup, type: 'POST', lat: lat, lon: lon, callback: (data) ->
          $.mobile.changePage('drop_a_verse_success.html')

    error = -> geoverse.helpers.showError(geoverse.locationError)

    geoverse.helpers.getLocation(success, error)
