external =
  ajax: (params) ->
    <% unless Rails.env.production? %>
    unless window.navigator.network
      window.navigator.network = { connection: { type: 'wifi' } }
    <% end %>

    showError = false
    connectionType = window.navigator.network.connection.type

    if _.include(['none', 'unknown'], connectionType)
      geoverse.helpers.showError("Sorry, your device is offline. Try again once you're connected.")
    else
      $.ajax
        url:  params.url
        data: _.extend(params.data, auth_token: localStorage.authToken)
        dataType: 'json'
        type: params.type
        success: (data) -> params.success(data)
        error: (xhr) ->
          try
            if xhr.status == 401
              localStorage.clear()
              $.mobile.changePage('login_no_back.html')
            else
              params.error(JSON.parse(xhr.responseText))
          catch error
            showError = true
        beforeSend: -> _.defer(-> $.mobile.showPageLoadingMsg())
        complete: ->
          if showError
            geoverse.helpers.showError('Oh noes! Something bad just happened.')
          else
            $.mobile.hidePageLoadingMsg()

  showError: (message) ->
    $.mobile.showPageLoadingMsg('e', message, true)

  getLocation: (success, error) ->
    _.defer(-> $.mobile.showPageLoadingMsg())

    wrappedSuccess = (params) ->
      _.defer(-> $.mobile.hidePageLoadingMsg())
      success(params)

    wrappedError = ->
      _.defer(-> $.mobile.hidePageLoadingMsg())
      error()

    window.navigator.geolocation.getCurrentPosition(
      wrappedSuccess, wrappedError,
      {
        enableHighAccuracy: true,
        maximumAge: 0,
        timeout: 60000
      }
    )

window.geoverse.helpers = external

