window.geoverse = {
  tileServerUrl: 'http://{s}.tile.cloudmade.com/51e35f4d527541eb8bfa4eb34dd36c97/997/256/{z}/{x}/{y}.png',
  locationError: "We're having trouble finding where you are. Can you try again?"
}

<% if Rails.env.test? %>
unless window.jasmine
  window.navigator.geolocation.getCurrentPosition = (success) -> success({coords: {latitude: "37", longitude: "-125"}})
<% end %>

