<% if Rails.env.test? %>
unless window.jasmine
	geoverse.tileServerUrl = 'http://localhost:3001/fake/tile/server'
<% end %>

$(document).delegate '#view-on-map-page', 'pageshow', ->
  views = []
  verses = JSON.parse(localStorage.verses)
  $droppedVerseMap = $('#dropped-verse-map')
  map = new L.Map($droppedVerseMap.selector.substr(1))
  
  cloudmadeUrl = geoverse.tileServerUrl
  cloudmadeAttrib = 'Map data &copy; 2012 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade'
  cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib})

  map.on 'load', -> $droppedVerseMap.height(window.innerHeight - $('.ui-header:last').height())
  map.addLayer(cloudmade)
  
  _.each verses, (verse) ->
    verseLocation = new L.LatLng(verse.location[0], verse.location[1])
    verseMarker = new L.Marker(verseLocation)
    verseMarker.bindPopup("<b class='title'>#{verse.title}</b><br/><div class='text'>#{verse.text}</div>", maxWidth: 210)
    map.addLayer(verseMarker)
    views.push({location: verseLocation, marker: verseMarker})
    
  locations = _.pluck(views, 'location')
  if(verses.length > 1)
    map.fitBounds(new L.LatLngBounds(locations))
  else
    map.setView(_.first(locations), 15)
    _.pluck(views, 'marker')[0].openPopup()
