!!!
%html
  %head
    %title geoverse
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no' }
    = stylesheet_link_tag 'mobile_v1'
    = javascript_include_tag 'mobile_v1'
  %body
    %div{ id: yield(:page_id), 'data-dom-cache' => boolean_option(yield(:cache_page)),
    'data-role' => page_role_option(yield(:page_role)),
    'data-add-back-btn' => boolean_option(yield(:back_button)), 'data-theme' => 'a' }
      %div{ 'data-role' => 'header', 'data-position' => 'fixed' }
        %h1 geoverse
        = yield :header
      %div{ 'data-role' => 'content' }
        = yield
      %div{ 'data-role' => 'footer', 'data-position' => 'fixed' }
        = yield :footer

